{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'idUtilisateur': user.idUtilisateur }) }}">{{ user.identifiant }}</a></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.createdAt|date('d/m/Y H:i') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_show', { 'idUtilisateur': user.idUtilisateur }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Créer un nouvel utilisateur</a>
        </li>
    </ul>
{% endblock %}
