{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Operations{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Operations sur vehicule</h1>
            <div class="row">
                <div class=col-sm-4>
                    <h2 class="sub-header"><a href="{{ path('cars_show', { 'idVehicule': vehicule.idVehicule }) }}">Vehicule concerné</a></h2>
                    <h3>Immatriculation : {{ vehicule.immatriculation }}</h3>
                    <h3>Marque : {{ vehicule.marque }}</h3>
                    <h3>Modele : {{ vehicule.modele }}</h3>
                    <h3>Type : {{ vehicule.type }}</h3>
                    <h3>Date achat : {{ vehicule.dateAchat|date('d/m/Y') }}</h3>
                </div>
                
                <div class="col-sm-8">
                    <h2 class="sub-header">Operations</h2>
                    <h3 class="sub-header"><a href="{{ path('operations_new', { 'idVehicule': vehicule.idVehicule }) }}">Créer une nouvelle opération pour ce véhicule</a></h2>
                
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Sujet</th>
                                <th>Date debut</th>
                                <th>Date fin prevue</th>
                                <th>Date fin effective</th>
                                <th>Date et heure creation</th>
                                <th>Date et heure modification</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for operation in operations %}
                                    <tr>
                                        <td>{{ operation.sujet }}</td>
                                        <td>{{ operation.dateDebut|date('Y-m-d') }}</td>
                                        <td>{{ operation.dateFinPrevue|date('d/m/Y') }}</td>
                                        <td>{% if operation.dateFinEffective %}{{ operation.dateFinEffective|date('d/m/Y') }}{% endif %}</td>
                                        <td>{{ operation.createdAt|date('d/m/Y H:i') }}</td>
                                        <td>{% if operation.updatedAt %}{{ operation.updatedAt|date('d/m/Y H:i') }}{% endif %}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group">
                                                <a type="button" class="btn btn-primary" href="{{ path('operations_show', { 'idOperation': operation.idOperation }) }}"><span class="glyphicon glyphicon-eye-open"></span> Détails</a>
                                                <a type="button" class="btn btn-default" href="{{ path('operations_edit', { 'idOperation': operation.idOperation }) }}"><span class="glyphicon glyphicon-pen"></span> Modifier</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
