{% extends 'AppBundle:Default:index.html.twig' %}

{% block page %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Operations sur vehicule</h1>
            <div class="row">
                <div class=col-sm-4>
                    <h2 class="sub-header"><a href="{{ path('cars_show', { 'idVehicule': operation.VehiculeConcerne.idVehicule }) }}">Vehicule concerné</a></h2>
                    <h3>Immatriculation : {{ operation.VehiculeConcerne.immatriculation }}</h3>
                    <h3>Marque : {{ operation.VehiculeConcerne.marque }}</h3>
                    <h3>Modele : {{ operation.VehiculeConcerne.modele }}</h3>
                    <h3>Type : {{ operation.VehiculeConcerne.type }}</h3>
                    <h3>Date achat : {{ operation.VehiculeConcerne.dateAchat|date('d/m/Y') }}</h3>
                </div>
                
                {% block content %}
                {% endblock %} 
                
            </div>
        </div>
    </div>
{% endblock %}
