{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('cars_show', { 'idVehicule': operation.VehiculeConcerne.idVehicule }) }}">Vehicule</a></h1>
    <table>
        <tbody>
        <tr>
            <th>Immatriculation</th>
            <td>{{ operation.VehiculeConcerne.immatriculation }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ operation.VehiculeConcerne.marque }}</td>
        </tr>
        <tr>
            <th>Modele</th>
            <td>{{ operation.VehiculeConcerne.modele }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ operation.VehiculeConcerne.type }}</td>
        </tr>
        <tr>
            <th>Date achat</th>
            <td>{{ operation.VehiculeConcerne.dateAchat|date('d/m/Y') }}</td>
        </tr>
        </tbody>
    </table>
    {% block content %}
    {% endblock %}
{% endblock %}
