{% extends 'AppBundle:Work/Operation:layout.html.twig' %}

{% block title %}Operation{% endblock %}

{% block content %}
    
    <div class="col-sm-9">
        <h2 class="sub-header">Operation</h2>
        
        <div class="row">
            <div class="col-sm-8">
                <h4>Sujet : {{ operation.sujet }}</h4>
                <h4>Description : {{ operation.description }}</h4>
                <h4>Date debut : {{ operation.dateDebut|date('d/m/Y') }}</h4>
                <h4>Date fin prevue : {{ operation.dateFinPrevue|date('d/m/Y') }}</h4>
                <h4>Date fin effective : {% if operation.dateFinEffective %}{{ operation.dateFinEffective|date('d/m/Y') }}{% endif %}</h4>
                <p>
                    <h4>Pièces :</h4>
                    {% if operation.pieces.count > 0 %}
                        {% for piece in operation.pieces %}
                            <h3>{{ piece.nom ~ ' : ' ~ piece.description }}</h3>
                        {% endfor %}
                    {% endif %}
                </p>
                <h4>Date et heure creation : {{ operation.createdAt|date('d/m/Y H:i') }}</h4>
                <h4>Date et heure modification : {% if operation.updatedAt %}{{ operation.updatedAt|date('d/m/Y H:i') }}{% endif %}</h4>
            </div>
            
            <div class="col-sm-4">
                <a href="{{ path('interventions_index', { 'idOperation': operation.idOperation }) }}" type="button" class="btn btn-primary btn-block">Interventions effectuées</a>
                <a href="{{ path('operations_edit', { 'idOperation': operation.idOperation }) }}" type="button" class="btn btn-default btn-block">Modifier</a>
            </div>
        </div>
        
        <h3 class="sub-header"><a href="{{ path('operations_index', { 'idVehicule': operation.vehiculeConcerne.idVehicule }) }}">Retour à la liste</a></h3>
    </div>
{% endblock %}
