{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('cars_show', { 'idVehicule': vehicule.idVehicule }) }}">Vehicule</a></h1>

    <table>
        <tbody>
        <tr>
            <th>Immatriculation</th>
            <td>{{ vehicule.immatriculation }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ vehicule.marque }}</td>
        </tr>
        <tr>
            <th>Modele</th>
            <td>{{ vehicule.modele }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ vehicule.type }}</td>
        </tr>
        <tr>
            <th>Date achat</th>
            <td>{{ vehicule.dateAchat|date('d/m/Y') }}</td>
        </tr>
        </tbody>
    </table>

    <h1>Problemes list</h1>

    <table>
        <thead>
            <tr>
                <th>Resume</th>
                <th>Date detection</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for probleme in problemes %}
            <tr>
                <td>{{ probleme.resume }}</td>
                <td>{{ probleme.dateDetection|date('d/m/Y') }}</td>
                <td>{{ probleme.createdAt|date('d/m/Y H:i') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('problems_show', { 'idProbleme': probleme.idProbleme }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('problems_new', { 'idVehicule': vehicule.idVehicule }) }}">Create a new probleme</a>
        </li>
    </ul>
{% endblock %}
