{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('cars_show', { 'idVehicule': probleme.vehiculeConcerne.idVehicule }) }}">Vehicule</a></h1>

    <table>
        <tbody>
        <tr>
            <th>Immatriculation</th>
            <td>{{ probleme.vehiculeConcerne.immatriculation }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ probleme.vehiculeConcerne.marque }}</td>
        </tr>
        <tr>
            <th>Modele</th>
            <td>{{ probleme.vehiculeConcerne.modele }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ probleme.vehiculeConcerne.type }}</td>
        </tr>
        <tr>
            <th>Date achat</th>
            <td>{{ probleme.vehiculeConcerne.dateAchat|date('d/m/Y') }}</td>
        </tr>
        </tbody>
    </table>

    {% block content %}
    {% endblock %}
{% endblock %}
