{% extends 'AppBundle:Default:index.html.twig' %}

{% block page %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Problemes de vehicule</h1>
            <div class="row">
                <div class=col-sm-3>
                    <h4 class="sub-header"><a href="{{ path('cars_show', { 'idVehicule': probleme.VehiculeConcerne.idVehicule }) }}">Vehicule concerné</a></h4>
                    <h5>Immatriculation : {{ probleme.VehiculeConcerne.immatriculation }}</h5>
                    <h5>Marque : {{ probleme.VehiculeConcerne.marque }}</h5>
                    <h5>Modele : {{ probleme.VehiculeConcerne.modele }}</h5>
                    <h5>Type : {{ probleme.VehiculeConcerne.type }}</h5>
                    <h5>Date achat : {{ probleme.VehiculeConcerne.dateAchat|date('d/m/Y') }}</h5>
                </div>
                
                {% block content %}
                {% endblock %} 
                
            </div>
        </div>
    </div>
{% endblock %}
