{% extends 'AppBundle:Work/Probleme:layout.html.twig' %}

{% block title %}Probleme{% endblock %}

{% block content %}
    
    <div class="col-sm-9">
        <h2 class="sub-header">Probleme</h2>
        
        <div class="row">
            <div class="col-sm-8">
                <h4>Resume : {{ probleme.resume }}</h4>
                <h4>Description : {{ probleme.description }}</h4>
                <h4>Date detection : {{ probleme.dateDetection|date('d/m/Y') }}</h4>
                <h4>Date et heure creation : {{ probleme.createdAt|date('d/m/Y H:i') }}</h4>
            </div>
        </div>
        
        <h3 class="sub-header"><a href="{{ path('problems_index', {'idVehicule': probleme.vehiculeConcerne.idVehicule }) }}">Retour à la liste</a></h2>
    </div>
{% endblock %}
