{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Interventions de operation</h1>
            <div class="row">
                <div class=col-sm-2>
                    <h4 class="sub-header"><a href="{{ path('cars_show', { 'idVehicule': operation.vehiculeConcerne.idVehicule }) }}">Vehicule concerné</a></h4>
                    <h5>Immatriculation : {{ operation.VehiculeConcerne.immatriculation }}</h5>
                    <h5>Marque : {{ operation.VehiculeConcerne.marque }}</h5>
                    <h5>Modele : {{ operation.VehiculeConcerne.modele }}</h5>
                    <h5>Type : {{ operation.VehiculeConcerne.type }}</h5>
                    <h5>Date achat : {{ operation.VehiculeConcerne.dateAchat|date('d/m/Y') }}</h5>
                </div>
                
                <div class=col-sm-3>
                    <h4 class="sub-header"><a href="{{ path('operations_show', { 'idOperation': operation.idOperation }) }}">Operation concernée</a></h4>
                    <h5>Sujet : {{ operation.sujet }}</h5>
                    <h5>Description : {{ operation.description }}</h5>
                    <h5>Date debut : {{ operation.dateDebut|date('d/m/Y') }}</h5>
                    <h5>Date fin prevue : {{ operation.dateFinPrevue|date('d/m/Y') }}</h5>
                    <h5>Date fin effective : {% if operation.dateFinEffective %}{{ operation.dateFinEffective|date('d/m/Y') }}{% endif %}</h5>
                </div>
                
                <div class="col-sm-7">
                    <h2 class="sub-header">Interventions</h2>
                    <h3 class="sub-header"><a href="{{ path('interventions_new', { 'idOperation': operation.idOperation }) }}">Créer une nouvelle intervention pour cette operation</a></h3>
                
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Date intervention</th>
                                <th>Intervenant</th>
                                <th>Notes</th>
                                <th>Date et heure creation</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for intervention in interventions %}
                                    <tr>
                                        <td>{{ intervention.dateIntervention|date('d/m/Y') }}</td>
                                        <td>{{ intervention.createur.prenom ~ ' ' ~ intervention.createur.nom }}</td>
                                        <td>{{ intervention.notes }}</td>
                                        <td>{{ intervention.createdAt|date('d/m/Y H:i') }}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs" role="group">
                                                <a type="button" class="btn btn-primary" href="{{ path('interventions_show', { 'idIntervention': intervention.idIntervention }) }}"><span class="glyphicon glyphicon-eye-open"></span> Détails</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
