{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('cars_show', { 'idVehicule': intervention.operation.vehiculeConcerne.idVehicule }) }}">Vehicule</a></h1>

    <table>
        <tbody>
        <tr>
            <th>Immatriculation</th>
            <td>{{ intervention.operation.vehiculeConcerne.immatriculation }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ intervention.operation.vehiculeConcerne.marque }}</td>
        </tr>
        <tr>
            <th>Modele</th>
            <td>{{ intervention.operation.vehiculeConcerne.modele }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ intervention.operation.vehiculeConcerne.type }}</td>
        </tr>
        <tr>
            <th>Date achat</th>
            <td>{{ intervention.operation.vehiculeConcerne.dateAchat|date('d/m/Y') }}</td>
        </tr>
        </tbody>
    </table>

    <h1><a href="{{ path('operations_show', { 'idOperation': intervention.operation.idOperation }) }}">Opération</a></h1>

    <table>
        <tbody>
        <tr>
            <th>Sujet</th>
            <td>{{ intervention.operation.sujet }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ intervention.operation.description }}</td>
        </tr>
        <tr>
            <th>Date debut</th>
            <td>{{ intervention.operation.dateDebut|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Date fin prevue</th>
            <td>{{ intervention.operation.dateFinPrevue|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Date fin effective</th>
            <td>{% if intervention.operation.dateFinEffective %}{{ intervention.operation.dateFinEffective|date('d/m/Y') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    {% block content %}
    {% endblock %}
{% endblock %}
