{% extends 'AppBundle::base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_index') }}">Accueil</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('users_index') }}">Utilisateurs</a></li>
                    <li><a href="{{ path('cars_index') }}">Véhicules</a></li>
                </ul>
                <p class="navbar-text navbar-right">{{ app.user.prenom ~ ' ' ~ app.user.nom }} | <a href="{{ logout_path() }}" class="navbar-link">Déconnexion</a></p>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        {% for erreur in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Erreur :</strong> {{ erreur }}
            </div>
        {% endfor %}

        {% block page %}
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="page-header">Tableau de bord</h1>

                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="sub-header">Vehicules</h2>
                            {{ render(controller('AppBundle:Default:vehicules')) }}
                        </div>

                        <div class="col-sm-6">
                            <h2 class="sub-header">Operations</h2>
                            {{ render(controller('AppBundle:Default:operations')) }}
                        </div>
                    </div>

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $("input.date.form-control").datetimepicker({
                locale: 'fr',
                format: 'D/M/Y',
                ignoreReadonly: true
            });
        });
    </script>
{% endblock %}